# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# User-specific / Local IDE files
.idea/
*.iml
*.ipr
*.iws
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/

# Dart & Flutter
.dart_tool/
.packages
build/
.pub-cache/
.pub/

# Flutter Ephemeral & Generated
.flutter-plugins
.flutter-plugins-dependencies
linux/flutter/ephemeral/
windows/flutter/ephemeral/
macos/Flutter/ephemeral/

# Android
**/android/.gradle/
**/android/local.properties
**/android/**/GeneratedPluginRegistrant.java

# iOS / macOS
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/app.framework
**/ios/**/GeneratedPluginRegistrant.h
**/ios/**/GeneratedPluginRegistrant.m
**/macos/Pods/
**/macos/.symlinks/
**/macos/Flutter/GeneratedPluginRegistrant.swift

# Coverage & Reports
coverage/
*.lcov
*.lcov.info
.nyc_output/

# Documentation
doc/api/
